@import "./parciales/formularioContacto";
@import "./parciales/cajaIndumentaria";
@import "./parciales/footer";
@import "./parciales/menuHome";
@import "./parciales/header";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    float: left;
  }
  
  /* header */
  
  header {
    background: gray;
    width: 100%;
    clear: both;
    content: "";
    display: table;
  }
  

  
  .searchBox {
    padding-left: 70px;
    float: right;
    width: 20%;
  
    /* background: rgb(32, 49, 204); */
    float: inline-start;
  }
  
  .form {
    text-align: center;
    padding: 50px;
  }
  
  /* barra nav */
  
  nav {
    float: right;
  
    ul li {
      list-style: none;
      margin-left: 75px;
      padding: 25px 0;
      float: left;
      position: relative;
  
      a {
        text-decoration: none;
        color: light yellow;
        font-weight: bold;
  
        ::before {
          display: block;
          content: "";
          width: 0%;
          background-color: aliceblue;
          height: 5px;
          top: 0;
          position: absolute;
          transition: cubic-bezier(0.075, 0.82, 0.165, 1);
          width: 100%;
        }
      }
    }
  }
  
  /* contenido presentado */
  
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .titulo {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 50px;
  }
  
  
  /* index--flex */
 
  /* formulario */
  
  .input-form {
    margin: 5px;
    border: yellow;
    height: 30px;
  }
  
  .contFlex {
    gap: 30px;
    transition: background-color 0.5s;
  }

  .images-flex {
    margin-bottom: 30px;
    &-img:hover {
      background-color: gray;
      opacity: 50%;
    }
    &-img {
      width: 400px;
      height: 500px;
      border-radius: 16px;
    }
  }
  
  .logo-home {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .texto-oculto {
    position: absolute;
    top: 200px;
    right: 100px;
    bottom: auto;
    left: auto;
    opacity: 0;
  
    &:hover {
      opacity: 1;
    }
  }
  
  .articulo-container {
    position: relative;
  }
  