@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

.caja {
    img {
      width: 250px;
      height: 280px;
      border-radius: 50px;
    }
	p {
		text-align: center;
		font-size: 15px;
		font-weight: bold;
		font-family: "Trebuchet MS", sans-serif;
	  }
  }