@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

footer {
    /* height: 50px; */
    /* width: 100%; */
    /* margin: 0px; */
    text-align: center;
    color: yellow;
    padding: 2rem;
    background-color: black;
  }