.menu {
    width: 900px;
    margin: 0 auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -webkit-body;
  }
  
  .logo-home {
    margin-top: 5px;
    img {
      display: flex;
      width: 250px;
      height: auto;
      padding: 10px;
      align-items: center;
      justify-content: center;
    }
  }
   
  .text-logo-home {
    font-family: 'Trebuchet MS';
  }
  
  .text-text-home {
    font-size: 30px;
    font-weight: 600;
  }
  